.general-albums {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: black;
  padding: 40px;
}

.search-albums {
  display: flex;
  justify-content: center;
  padding: 22px;
  background-color: black;
}

.container-album {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin: 6px;
}

p {
  padding: 10px;
}

h3 {
  padding: 10px;
}

.img-albums {
  width: 40vh;
}
