.general-albums {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: black;
  padding-left: 176px;
}

.search-albums {
  display: flex;
  justify-content: center;
  padding: 22px;
  background-color: black;
}

.container-album {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin: 6px;
}

p {
  padding: 10px;
}

h3 {
  padding: 10px;
}

.img-albums {
  width: 40vh;
}

.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: black;
  align-items: center;
  padding: 20px;
}

.button-top {
  color: black;
  padding: 2px;
}

.link-to-create {
  text-decoration: none;
  color: black;
  background-color: whitesmoke;
  padding: 7px;
  border-radius: 5px;
}

.button-search-on {
  border-radius: 7px;
  padding: 8px;
}
