.general-albums {
  display: flex;
  justify-content: space;
  align-items: center;
  flex-wrap: wrap;
  background-color: black;
  padding: 150px 170px;
}

.container-album {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin: 6px;
}

p {
  padding: 3px;
}

h3 {
  padding: 10px;
}

.img-albums {
  width: 30vh;
}
