.general-artists {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 163px;
  background-color: black;
}

.container-artists {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin: 6px;
}

.search-artists {
  display: flex;
  justify-content: center;
  padding: 22px;
  background-color: black;
}

.img-div {
  height: 190px;
  width: 300px;
}

p {
  padding: 3px;
}

h3 {
  padding: 10px;
}

.img-artists {
  width: 100%;
  object-fit: cover;
  height: 100%;
  object-position: top;
}
