.container-genre {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  background-color: black;
  color: white;
  justify-content: center;
}

.img-genre {
  width: 470px;
}

.div-genre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 70px;
}

h2 {
  text-align: center;
}
