.img-genreDetail {
  width: 1000px;
}

.div-genreDetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px;
}

.parrafo {
  padding: 0 163px;
}

.button-back-g {
  padding: 9px;
  margin: 20px;
}
